<section class="menu">

  <h1>Our Menu</h1>
  <!-- SEARCH + FILTER -->
<div class="menu-controls">

  <input
    type="text"
    placeholder="Search food..."
    [(ngModel)]="searchText"
  />

  <select [(ngModel)]="selectedCategory">
    <option *ngFor="let category of categories">
      {{category}}
    </option>
  </select>

</div>
<br>

  <div class="menu-grid">

    <div class="food-card" *ngFor="let food of paginatedFoods">

      <img [src]="food.image">

      <h3>{{food.name}}</h3>

      <p>{{food.description}}</p>

      <div class="food-footer">

        <span class="price">₹{{food.price}}</span>

        <button (click)="addToCart(food)">Add to Cart</button>

      </div>

    </div>

  </div>

  <div class="pagination">

    <button (click)="prevPage()">Previous</button>

    <span>Page {{currentPage}}</span>

    <button (click)="nextPage()">Next</button>

  </div>

</section>