<section class="checkout">

  <h1>Checkout</h1>

  <div class="checkout-container">

    <!-- LEFT SIDE : FORM -->
    <div class="checkout-form">

      <h2>Order Type</h2>

      <div class="order-type">

        <label>
          <input type="radio"
                 name="orderType"
                 value="DINE_IN"
                 [(ngModel)]="orderType">
          Dine-In
        </label>

        <label>
          <input type="radio"
                 name="orderType"
                 value="TAKEAWAY"
                 [(ngModel)]="orderType">
          Takeaway
        </label>

        <label>
          <input type="radio"
                 name="orderType"
                 value="DELIVERY"
                 [(ngModel)]="orderType">
          Delivery
        </label>

      </div>

      <!-- DINE IN -->
      <div *ngIf="orderType === 'DINE_IN'" class="dynamic-section">

        <h2>Dine-In Details</h2>

        <input type="text"
               placeholder="Enter Table Number"
               [(ngModel)]="tableNumber">

      </div>


      <!-- TAKEAWAY -->
      <div *ngIf="orderType === 'TAKEAWAY'" class="dynamic-section">

        <h2>Pickup Details</h2>

        <input type="time"
               [(ngModel)]="pickupTime">

      </div>


      <!-- DELIVERY -->
      <div *ngIf="orderType === 'DELIVERY'" class="dynamic-section">

        <h2>Delivery Address</h2>

        <textarea placeholder="Enter your address"
                  [(ngModel)]="address"></textarea>

        <input type="text"
               placeholder="City"
               [(ngModel)]="city">

        <input type="text"
               placeholder="Pincode"
               [(ngModel)]="pincode">

      </div>

    </div>


    <!-- RIGHT SIDE: ORDER SUMMARY -->
    <div class="order-summary">

      <h2>Order Summary</h2>

      <div class="summary-item" *ngFor="let item of cartItems">
        <span>{{item.name}} x {{item.quantity}}</span>
        <span>₹{{item.price * item.quantity}}</span>
      </div>

      <hr>

      <div class="summary-total">
        <strong>Total</strong>
        <strong>₹{{total}}</strong>
      </div>

      <button class="place-order-btn"
              (click)="placeOrder()">
        Place Order
      </button>

    </div>

  </div>

</section>